
*{
    margin: 0;
    padding: 0;
}

:root{
    --white: #fff;
    --dark1: #34344e;
    --dark2: #3a415a;
    --dark3: #566981;
    --dark4: #89a7b1;
    --dark5: #cbdad5;
    --dark6: #2f2f46;
    --cyan: #70e3ea;
}

body{
    background-color: var(--dark1);
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: .8rem;
    background-color: var(--dark6);
    min-height: 50px;
}

nav{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav_link{
    color: var(--white);
    text-decoration: none;
    font-size: 1.2rem;
    transition: .3s;
}