@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --white: #fff;
    --dark1: #34344e;
    --dark2: #3a415a;
    --cinza3: #e0ede9;
    --cinza6: #2f2f46;
    --verde: #00ff88;
}

body {
    background-color: var(--dark1);
    height: 100vh;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: .8rem;
    background-color: var(--cinza6);
    min-height: 50px;
}

nav {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav_link{
    color: var(--white);
    text-decoration: none;
    font-size: 1.2rem;
    transition: .5s;
}

.nav_link:hover {
    color: var(--verde);
}

#burguer {
    display: none;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section {
    padding: 1.2rem;
}

.principal {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    min-height: 650px;
}

.principal>div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 300px;
}

h1 {
    font-size: 4rem;
    color: var(--white);
    letter-spacing: 4px;
}

strong {
    color: var(--verde);
}

.principal p {
    color: var(--cinza3);
}

.img-principal {
    max-width: 440px;
    padding: 1rem;
}

.img_perfil {
    width: 100%;
    border-radius: 50%;
}

#experiencias {
    background-color: var(--dark2);
    ;
}

:is(.section_2, .section_4) {
    background-color: var(--cinza6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.section_2 h2,
ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.section_2 ul li {
    color: var(--cinza3);
    letter-spacing: 2px;
    font-weight: bold;
}

.section_2 ul li:hover {
    color: var(--verde);
    transition: .5s;
    cursor: default;
}

.title {
    color: var(--white);
}

.section_3 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--dark1);
}

.section_3>div {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section_3>div img {
    max-width: 300px;
    border-radius: 16px;
}

.section_3>div p {
    color: var(--white);
    text-align: justify;
    max-width: 600px;
}

.section_4 ul{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: .5s;
}

.nav_link:hover {
    color: var(--verde);
}

footer {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

footer>div {
    justify-content: center;
    display: flex;
    gap: 2.3rem;
}

#meus-projetos a{
    color: var(--cinza3);
    text-decoration: none;
}

#meus-projetos a:hover {
    color: var(--verde);
}

footer>div a{
    color: var(--white);
    text-decoration: none;
    transition: .3s;
    font-size: 0.7rem;
}

@media screen and (max-width: 600px) {

    .principal {
        display: flex;
        justify-content: column;
        gap: 2rem;
        align-items: center;
        min-height: 650px;
    }
    
    .principal>div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        min-height: 100px;
    }
    
    h1 {
        font-size: 3rem;
        color: var(--white);
        letter-spacing: 3px;
        text-align: center;
    }
    
    .title{
        display: flex;
        justify-content: center;
    }

    #burguer {
        color: var(--white);
        display: block;
        text-align: center;
        padding: 5px;
        font-size: 2.3em;
    }
    
    nav {
        display: none;
        flex-direction: column;
        gap: 1rem;
    }

    #burguer:hover {
        cursor: pointer;
        color: var(--verde);
        transition: 0.5s;
    }
    
}